<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>We are in Tokyo</title>

    <style>
        .tm-div-line p{
            margin :0 auto;
        }
        p{ line-height:20px}
    </style>
<!-- 
Timeless Template
-->
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Bootstrap -->
    <link th:href="@{/build/css/bootstrap.min.css}" rel="stylesheet">
    <!-- https://getbootstrap.com/ -->
    <link th:href="@{/build/css/templatemo-style.css}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="text-center tm-site-header">
                    <div class="tm-site-logo"></div>
                    <h1 class="pl-4 tm-site-title">東京飲み会</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tm-video-container">
                    <video id="tm-welcome-video" class="tm-welcome-video" autoplay="" loop="" muted="">
                        <source src="/build/video/video.mp4" type="video/mp4"> Your browser does not support the video tag.
                        </video>
                        <!--<div id="tm-video-loader"></div>-->
                        <div id="tm-video-text-overlay" class="tm-video-text-overlay d-none">
                            <h1>
                                <div id="rotate" class="tm-video-text">
                                    <div>你空虚吗？</div>
                                    <div>你还寂寞吗？</div>
                                    <div>你还在忍受寒冷吗？</div>
                                    <div>快来加入我们吧！！！</div>
                                </div>
                            </h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container tm-container-2">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="tm-welcome-text">往期活动</h2>
                </div>
            </div>
            <div class="row tm-section-mb">
                <div class="col-lg-12">
                    <div class=" tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="/image/img-01.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark tm-timeline-description">
                                    <h3 class="tm-text-green tm-font-400">Nulla venenatis purus nec quam</h3>
                                    <p>You may tell your co-workers about TemplateMo free stuffs to download and use for any website project. Thank you for supporting us.</p>
                                    <p class="tm-text-green float-right mb-0">New Event . 12 July 2018</p>
                                </div>
                            </div>
                        </div>

                        <div class="tm-timeline-connector-vertical"></div>
                    </div>

                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="/image/img-02.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark-light tm-timeline-description">
                                    <h3 class="tm-text-cyan tm-font-400">Vestibulum ante ipsum primis</h3>
                                    <p>In imperdiet nisl quis sapien pellentesque, non rhoncus elit sollicitudin. Donec pharetra egestas magna at eleifend. Sed non magna vitae enim tempus faucibus.</p>
                                    <p class="tm-text-cyan float-right mb-0">Another Story . 9 July 2018</p>
                                </div>
                            </div>
                        </div>
                        <div class="tm-timeline-connector-vertical"></div>
                    </div>

                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="/image/img-03.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark tm-timeline-description">
                                    <h3 class="tm-text-yellow tm-font-400">Pellentesque accumsan convallis</h3>
                                    <p>Suspendisse felis massa, maximus sed mauris at, elementum fermentum nisl. Aliquam quis elit vel ipsum ornare sollicitudin. Nulla et dolor eget nisi varius convallis.</p>
                                    <p class="tm-text-yellow float-right mb-0">Latest News . 30 June 2018</p>
                                </div>
                            </div>
                        </div>
                        <div class="tm-timeline-connector-vertical"></div>
                    </div>

                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="/image/img-04.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark-light tm-timeline-description tm-div-line">
                                    <h3 class="tm-text-orange tm-font-400">11月16日 神奈川县大山登山活动</h3>
                                    <p>集合时间：11点</p>
                                    <p>集合地点：伊勢原駅</p>
                                    <p>⚠️大家公交卡充好钱，或者自备乘车零钱300円/单程，往返600円</p>
                                    <p>【具体行程】</p>
                                        <ul>
                                        <li>❶11点左右在小田急線伊勢原车站集合（请大家注意不要迟到，只等10分钟）之后先在车站附近吃饭。</li>
                                        <li>❷饭后，乘公交车🚌（车程30分钟）到达山脚，开始爬山🧗‍♀️</li>
                                        <li>①可选择乘缆车🚠到半山腰，开始爬</li>
                                        <li>②也可以组团从山脚开始徒步攀爬</li>
                                        <li>③两条路线大家自行选择，最后大家在山顶碰一下面，群主清点下人数后自由活动</li>
                                       </ul>
                                    <p class="tm-text-orange float-right mb-0">Ooyama . 16 Nov 2019</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--  row -->
            <hr>
            <div class="row tm-section-mb tm-section-mt">
                <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                    <h3 class="mt-2 mb-3 tm-text-gray">吃吃吃</h3>
                    <p>以池袋为中心，每周至少一次，或不定期品尝中华美食</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                    <h3 class="mt-2 mb-3 tm-text-gray">乐乐乐</h3>
                    <p>不定期组织爬山活动或约跑。锻炼身体！</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h3 class="mt-2 mb-3 tm-text-gray">玩玩玩</h3>
                    <p>饭后KTV，保龄球。各项娱乐等你来参加</p>
                </div>
            </div>
            <hr>
            <div class="row tm-section-mt">
                <div class="col-lg-6">
                    <h3 class="mb-4 tm-text-gray">我们的大本营</h3>
                    <!-- GOOGLE MAP -->
                    <div id="google-map" class="text-center mb-5">
                    <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                       -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d907.013923880932!2d139.71188041159076!3d35.73284886560745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5e00e7a049%3A0xeee22e74b54da5cd!2z5Zub5a2j6aaZIOaxoOiii-WMl-WPo-W6lw!5e0!3m2!1sja!2sjp!4v1575009360317!5m2!1sja!2sjp" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                   </div>
               </div>
               <div class="col-lg-6 mb-5">
                <h3 class="mb-4 tm-text-gray">现在加入</h3>
                <form action="#contact" method="post" class="tm-contact-form">
                    <div class="row">
                        <div class="form-group col-xl-6">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="别名..." required/>
                        </div>
                        <div class="form-group col-xl-6">
                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="邮箱..." required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="contact_message" name="contact_message" class="form-control" rows="6" placeholder="备注..." required></textarea>
                    </div>
                    <button type="submit" class="btn  tm-btn-send">确认</button>
                </form>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2019</span>  SekiShii
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->

    <!-- JQuery -->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}" ></script>
    <!-- Timeless -->
    <script th:src="@{/build/js/templatemo-script.js}" ></script>
    <!-- Templatemo style -->

</body>
</html>