<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>We are in Tokyo</title>

    <style>
        .tm-div-line p{
            margin :0 auto;
        }
        p{ line-height:20px}
    </style>
<!-- 
Timeless Template
-->
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Bootstrap -->
    <link th:href="@{/build/css/bootstrap.min.css}" rel="stylesheet">
    <!-- https://getbootstrap.com/ -->
    <link th:href="@{/build/css/templatemo-style.css}" rel="stylesheet">

    <!-- reservation -->
    <script th:src="@{/script/reservation/list.js}" ></script>
</head>

<body>

</body>
</html>